p {
  color: white;
}

.name-element {
  border-bottom: 1px solid white;
  font-size: large;
  font-style: italic;
  font-weight: 900;
}

.other-elements {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.country {
  display: flex;
  flex-direction: column;
  max-width: 30px;
}
