@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap') ;

.App {
  background-image: url('./images/background.png');
  text-align: center;
}

body {
  font-family: Raleway , sans-serif;
  margin: 0%;
}
